PROJECT_EVN_TYPE=development
PG_NAME=postgres
PG_CONNECTOR=postgresql
PG_HOST=postgres
PG_PORT=5432
PG_USER=user
PG_PASS=changeme
PG_DB=postgres
TOKEN_SECRET_VALUE=0123456789
TOKEN_EXPIRES_IN_VALUE=604800
PGDATA=/data/postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=changeme